<!-- header -->

<div class="row">

	<div class="small-12 columns spacer-32"></div>
	<div class="small-12 columns spacer-32 show-for-medium"></div>

	<div class="title small-12 columns"><h1>Webpage splitter v1.3</h1></div>
	<div class="subtitle small-12 columns"><span class="math-w">W</span> = <span class="math-b">b</span> &times; w + (<span class="math-b">b</span> - 1) &times; <span class="math-m">m</span></div>

  <div class="small-12 columns spacer-16 show-for-small"></div>
  <div class="small-12 columns spacer-16 show-for-medium"></div>

</div>

<!-- /header -->