// MEDIA

@include breakpoint(small) {

	a.hollow,
	button.hollow {
		color: $white !important;
		border-color: $white !important;
	}

	.switch-paddle {
		background: transparent !important;
	}

	.clear-output-svg {
	  fill: #fff;
	}
	
}

@include breakpoint(medium only) {


	
}

@include breakpoint(large) {

	.clear-output-svg {
	  fill: #08d !important;
	}

	a.hollow,
	button.hollow {
		color: $black !important;
		border-color: $dark-blue !important;
	}

	p {
		color: $black;
	}

	input {
		background: #f4f4f4 !important;
	}

	.grid-container.content {
		background-color: $white;
	}

	.switch-paddle {
		background: #08d !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	
}

// TESTS

.cell {
	// outline: 1px solid red;
}

.grid-x {
	// outline: 1px solid black;
}

.grid-container {
	// outline: 1px solid white;
}

// OVERRIDES

body {
}

th, td {
	text-align: center !important;
}

td {
	color: $black !important;
}

thead{
	border: none !important;
}

a.hollow span,
button.hollow span {
	vertical-align: middle;
	display: inline-block;
}

.hollow-label {
	position: relative;
	top: -1px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

a.button,
button.button {
	font-weight: bold;
}

// ELEMENTS

@for $i from 1 through 8 {
    $spacer-height: 8 * $i;
    .spacer-#{$spacer-height} { 
        height: $spacer-height#{px};
        }
}

.line {
	display: block;
	height: 2px;
	background: $white-transparent;
}

input {
	text-align: center;
	border-bottom: 2px solid $primary-color !important;
	height: 2em;
}

.loader {
	max-width: 177px;
	max-height: 177px;
}

.loader img {
	float: center;
	display: inline-block;
}

.theader {
	background: $dark-blue;
	height: 48px;
}

// SWITCH

// $switch-background: $medium-gray;
// $switch-background-active: $primary-color;
// $switch-height: 2.6rem;
// $switch-radius: 24px;
// $switch-margin: $global-margin;
// $switch-paddle-background: $white;
// $switch-paddle-offset: 0.5rem;
// $switch-paddle-radius: 24px;
// $switch-paddle-transition: all 0.25s ease-out;

.switch-paddle {
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
	width: 100% !important;
}

.paddle-dechex {
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	top: 5px;
}

// HEADER

.logo {
	max-width: 256px;
	max-height: 128px;
}

.logo img {
	float: center;
	display: inline-block;
}

// BODY

// FOOTER

.logo-bullet {
	color: $dark-blue;
}

.footer p {
	color: $white;
	font-size: 0.9em;
	line-height: 1.2em;
	letter-spacing: 1px;
}

.footer a {
	border-bottom: 1px solid rgba(255,255,255,0.48);
}